.sub__header {
    width: 100%;
    height: 55px;
    background: #54ACB8;
}
.sub__header a{
    color: #fff;
}

.sub__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
.sub__container div{
    display: flex;
    align-items: center;
    gap: 20px;
}
.sub__container button{
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
}
@media screen and (max-width: 700px){
    .sub__header{
        display: none;
    }
}