.single__img{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.sing__imgs{
    width: 400px;
    height: 400px;
}
.single__text{
    width: 500px;
    line-height: 2;
    margin-left: 30px;

}
.sing{
    color: #000;
}
.s{
    transform: translateX(-5px);
}
.sing__h1{
    font-family: cursive;
    margin-bottom: 30px;
}
.sing__btn{
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid #000;
    background: transparent;
    margin-left: 5px;
}
.sing__rasm{
    display: flex;
    flex-wrap: wrap;
}
.sing__rasm1{
    width: 70px;
    height: 70px;
}
.sing__dis{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 30px;
}
.sing__rasm:hover{
    border: 1px solid red;
    border-radius: 10px;
}
.sing__left{
    width: 300px;
    height: auto;
    padding-left: 50px;
    /* padding-top: 50px; */
    border-radius: 10px;
border: 1px solid #ddd;    
line-height: 1.6;
}
.sing__bnt2{
    padding: 10px 40px;
    border: 1px solid green;
    border-radius: 10px;
    /* margin-top: 10px; */
    color: #fff;
    background: rgb(8, 242, 8);
    transition: 1s;
}
.sing__bnt3{
    padding: 10px 45px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #fff;
}
.sing__bnt3:hover{
    background: #ddd;
}
.sing__bnt2:hover{
    background: #fff;
    color: rgb(8, 242, 8);
}
.sing__like{
    padding: 10px 40px ;
    margin-top: 10px;
    border-radius: 10px;
    transition: .7s;
    background: dodgerblue;
}
.sing__like:hover{
    background: var(--bg);
    border: none;
    color: #fff;
}





/* placeholder css */

.placeholder{
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 40px;
    padding-top: 20px;
}
.placeholder__img{
    height: 300px;
    border-radius: 16px;

    background: linear-gradient(90deg, #eee,#f7f7f7, #eee);
    background-size: 200%;
    animation: pl 1s linear infinite;

}
.placeholder__text div{
    width: 70%;
    height: 30px;
    background: #ddd;
    margin-bottom: 10px;
    border-radius: 10px;
    background: linear-gradient(90deg, #eee,#f7f7f7, #eee);
    background-size: 200%;
    animation: pl 1s linear infinite;
}
.placeholder__text div:nth-child(3){
    width: 50%;
}
.placeholder__text div:nth-child(4){
    width: 35%;
}
@keyframes pl {
    to{
        background-position: 200%;
    }
}

@media screen and (max-width: 700px){
    .placeholder{
        grid-template-columns: 1fr;
    }
    .placeholder__text div{
        width: 90%;
    }
}