.map{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    gap:  30px;
    justify-content: center;

}

.map__card{
    width: 250px;
    height: auto;
    line-height: 1.4;
    cursor: pointer;
    text-align: center;
    position: relative;
    object-fit: contain;
}
.map__title{
    min-height: 45px;
}
.map__heart{
    position: absolute;
    top: 10px;
    right: 2px;
    font-size: 20px;
}
.map__img{
    width: 100%;
    height: auto;
}

.map__top{
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
    margin-top: 20px;
}
.map__card button{
    padding: 5px 40px;
    background: yellow;
    border-radius: 10px;
    border: none;
}
.map__card .pro__cart{
    margin-top: 10px;
    width: 100%;
    height: auto;
    background: #fff;
    cursor: pointer;
    border: 2px solid #555;
}

@media screen and (max-width: 550px){
    .map{
       display: grid;
       grid-template-columns: 1fr 1fr;
       grid-gap: 5px;
    }
    .map__card{
        width: auto;
        height: auto;
        line-height: 1.4;
        cursor: pointer;
        margin: 0;
        text-align: center;
        position: relative;
    }
}


/* placeholder css */

.placeholder2{
    min-height: 500px;
    padding-top: 20px;
    width: 250px;
    border-radius: 2px solid red;
    display: grid;
    flex-direction: column;
    
}
.placeholder__img2{
    height: 300px;
    border-radius: 16px;

    background: linear-gradient(90deg, #eee,#f7f7f7, #eee);
    background-size: 200%;
    animation: pl 1s linear infinite;

}
.placeholder__text2 div{
    width: 70%;
    height: 30px;
    background: #ddd;
    margin-bottom: 10px;
    border-radius: 10px;
    background: linear-gradient(90deg, #eee,#f7f7f7, #eee);
    background-size: 200%;
    animation: pl 1s linear infinite;
}
.placeholder__text2 div:nth-child(3){
    width: 50%;
}
.placeholder__text2 div:nth-child(4){
    width: 35%;
}
@keyframes pl {
    to{
        background-position: 200%;
    }
}

@media screen and (max-width: 700px){
    .placeholder{
        grid-template-columns: 1fr;
    }
    .placeholder__text div{
        width: 90%;
    }
}